extends base.pug

block content
  h5 Update Video
  form(method="POST")
    input(name="title", placeholder="VideoTitle", value=video.title, required)
    input(name="description", type="text", placeholder="Description", required, minlength=10, value=video.description)
    input(name="hashtags", type="text", placeholder="Hashtags, separated by comma", required, value=video.hashtags.join())
    input(value="Save", type="submit")